<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="robco_gazebo">

    <!-- ros_control plugin -->
    <gazebo>
      <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
          <parameters>$(find robco_description)/ros2_control/ros2_controllers.yaml</parameters>
          <controlPeriod>0.01</controlPeriod>
      </plugin>
    </gazebo>
    
    <gazebo reference="base">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive1">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive1_shaft">
      <material>Gazebo/Gray</material>
    </gazebo>    

    <gazebo reference="drive1_distal">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive2">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive2_shaft">
      <material>Gazebo/Gray</material>
    </gazebo>    

    <gazebo reference="drive2_distal">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="link0">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive3">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive3_shaft">
      <material>Gazebo/Gray</material>
    </gazebo>    

    <gazebo reference="drive3_distal">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive4">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive4_shaft">
      <material>Gazebo/Gray</material>
    </gazebo>    

    <gazebo reference="drive4_distal">
      <material>Gazebo/Gray</material>
    </gazebo>
    
    <gazebo reference="link1">
      <material>Gazebo/Gray</material>
    </gazebo>   

    <gazebo reference="drive5">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive5_shaft">
      <material>Gazebo/Gray</material>
    </gazebo>    

    <gazebo reference="drive5_distal">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive6">
      <material>Gazebo/Gray</material>
    </gazebo>

    <gazebo reference="drive6_shaft">
      <material>Gazebo/Gray</material>
    </gazebo>    

    <gazebo reference="drive6_distal">
      <material>Gazebo/Gray</material>
    </gazebo> 

    <gazebo reference="effector">
      <material>Gazebo/Gray</material>
    </gazebo> 
  </xacro:macro>
</robot>